<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><colors COLOR_ACTIVE="#FFBB33" COLOR_FINISHED_AND_NOT_RELEVANT="#C4C4C4" COLOR_FINISHED_AND_RELEVANT="#99CC00" COLOR_PICKED="#F7FE2E" COLOR_UNVISITED="#33B5E5" COLOR_VISITED="#FF4444"/><keys KEY_DIRECTED_EDGE="68" KEY_MULTIPLE_SELECT="17" KEY_RECTANGULAR_SELECT="16" KEY_UNDIRECTED="85"/></settings>